<div class="banner-devices">
  <img class="banner-devices__image banner-devices__tablet" src="{{site.url}}/assets/images/projects/{{ include.filename }}-1.png" alt="{{ include.alt }}" />
  <img class="banner-devices__image banner-devices__phone" src="{{site.url}}/assets/images/projects/{{ include.filename }}-2.png" alt="{{ include.alt }}" />
  <img class="banner-devices__image banner-devices__phone" src="{{site.url}}/assets/images/projects/{{ include.filename }}-3.png" alt="{{ include.alt }}" />
</div>