<div class="devices {% if include.reverse %}devices--reverse{% endif %}">
  <div class="devices__item devices__item__tablet">
    <img class="devices__image" src="{{site.url}}/assets/images/projects/{{ include.filename }}-1.png" alt="{{ include.alt }}" />
  </div>
  <div class="devices__item devices__item__phone">
    <img class="devices__image" src="{{site.url}}/assets/images/projects/{{ include.filename }}-2.png" alt="{{ include.alt }}" />
  </div>
  <div class="devices__item devices__item__phone">
    <img class="devices__image" src="{{site.url}}/assets/images/projects/{{ include.filename }}-3.png" alt="{{ include.alt }}" />
  </div>
</div>