<section id="about" class="panel panel--white-darken panel-about">
	<div class="cp about">
	<div class="panel__inner">
		<div class="row">

			<h2 class="sr-only">About this blog</h2>

				<div class="about__profile">
					<div class="about__profile-pic">
						<img src="{{site.url}}//assets/images/misc/profile.jpg" srcset="{{site.url}}//assets/images/misc/profile@2x.jpg 2x" alt="Photo of me">
					</div>
				</div>
				<div class="about__main-body">
					<div class="about__leadin">
						<p>
							My personal collection of thoughts about web design, websites, apps and everything in between.
						</p>
					</div>
					<div class="about__content">
						<p>
							I'm a London based web designer currently working at Hamilton Brown.
						</p>
						<p>
						
					</div>

				</div>

				<div class="about__sidebar">

					<div class="about__abilities">
						<h3 class="about__abilities-title">Here you will find</h3>
						<ul>
							<li>My brain farts</li>
							<li>My rants</li>
							<li>My reviews on existing websites and apps</li>
						</ul>
					</div>

				</div>

		</div>

		</div>
	</div>
</section>