
<section id="work" class="panel panel-grid">

	<h2 class="sr-only">Latest work</h2>

	<div class="cp grid-work">

			<div class="grid-work__inner row">

						<div class="grid-work__items-grid">

							{% include home_work_index_grid.html %}

							<div class="grid-work__item">
								<div class="cp coming-soon">
									<div class="coming-soon__inner">
										<span>More coming soon</span>
									</div>
								</div>
							</div>

						</div>

			</div>
		</div><!-- End grid -->
</section>