.about{
	&__main-body{
		width:100%;
		padding-right:0;
		@include bp($bp2){
			width:calc(50% - #{$grid-space});
			padding-right:5%;
		}
	}
	&__snippet{
		padding-bottom:1.5em;
		p{
			@include text-leadin-large--tight;
		}
	}
	&__statement{
		@include text-body;
	}
	&__leadin{
		@include text-leadin;
	}
	&__question{
		font-weight:$bold;
	}
	&__profile{
		width:100%;
		@include align-center-top;
		@include bp($bp1){
			width:25%;
		}
	}
	&__profile-pic{
		@include bp-minus($bp1){
			padding-top:$text-padding-std;
			padding-bottom:$text-padding-std*2;
		}
		img{
			width:100%;
			max-width:200px;
			height:auto;
			border-radius:50%;
		}
	}
	&__links{
		padding:$text-padding-std 0;
		@include bp-minus($bp1){
		}
		a{
			@include link-styled;
			@include bp-minus($bp1){
				display:block;
				padding-bottom:.5em;
			}
			&:last-of-type{
				padding-bottom:0;
			}
		}
		span{
			padding:0 1em;
			color:$black-lighten;
			text-decoration:none;
			@include bp-minus($bp1){
				display:none;
			}
		}
	}
	&__sidebar{
		width:100%;
		@include bp($bp2){
			width:25%;
			padding-left:$grid-space;
		}
	}
	&__abilities{
		@include bp-minus($bp1){
			padding-left:0;
			width:100%;
		}
		ul{
			@include text-body;
			padding-bottom:$text-padding-std;
		}
	}
	&__abilities-title{
		@include text-title;
		margin-bottom:$text-padding-std;
	}
	&__readmore{
	}
	&__more{
		opacity:0;
		height:0;
		overflow:hidden;
		transition:all, .6s;
		&.js-show{
			opacity:1;
			height:auto;
		}
	}
	&__quote{
		@include text-leadin-large--tight;
		position:relative;
		width:100%;
		opacity:0;
		height:0;
		span{
			width:100%;
			display:block;
			//@include text-underline($color-brand);
		}
		@include bp-minus($bp1){
			display:none;
		}
		transition:all, .6s;
		&.js-show{
			opacity:1;
			height:auto;
		}
	}
	&__quotemark{
		position:absolute;
		top:-.2em;
		left:-52px;
		color:$color-brand;
		font-size:4em;
		padding-right:.2em;
		font-family:georgia, serif;
		display:inline-block;
	}




}