$grid-space:$text-padding-std;

.grid-work{
  margin:0 auto;
  width:100%;
  position:relative;
  @include bp($bp1){
    position:relative;
  }
  &__inner{
    width:100%;
    position:relative;
  }
  &__items{
    position:relative;
    top:0;
    bottom:0;
  }
  &__items-grid{
    position:relative;
    width:100%;
    height:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:$grid-space;
    padding-left:0;
    padding-right:0;
    display:grid;
    background-color:$white;
    grid-gap:$grid-space/2;
    grid-template-columns:1fr 1fr 1fr;
    @include bp($bp1) {
      grid-gap:$grid-space;
    }
      
  }
  &__item{
    display:block;
    margin-top:$grid-space;
    margin-bottom:$grid-space;
    margin:0;
    background-color:#fafafa;
    position:relative;
    &:before{
      content: "";
      display: inline-block;
      width: 1px;
      height: 0;
      padding-bottom:100%;
    }
    @mixin wide{
      height:auto;
      &:before{
        padding-bottom:0;
      }
    }
    @mixin nosquare{
      &:before{
        padding-bottom:50%;
      }
    }
    // 1
    &:nth-of-type(1){
      grid-column:1/3;
      @include wide;
    }
    &:nth-of-type(2){
      grid-column:3/4;
    }
    // 2
    &:nth-of-type(3){
      grid-column:1/2;
    }
    &:nth-of-type(4){
      grid-column:2/4;
      @include wide;
    }
    
    // 3
    &:nth-of-type(6){
      grid-column:3/4;
    }
    &:nth-of-type(5){
      grid-column:1/3;
      @include wide;
    }
    // 4
    &:nth-of-type(7){
      grid-column:1/2;
    }
    &:nth-of-type(8){
      grid-column:2/4;
      @include wide;
    }
    // 5
    &:nth-of-type(9){
      grid-column:1/2;
    }
    &:nth-of-type(10){
      grid-column:2/3;
    }
    &:nth-of-type(11){
      grid-column:3/4;
    }
    // 6
    &:nth-of-type(12){
      grid-column:1/3;
      @include wide;
    }
    &:nth-of-type(13){
      grid-column:3/4;
    }
  }
  &__link{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    line-height:0;
    display:block;
    position:absolute;
    top:0;
    left:0;
    &:hover, &:focus{
      .grid-work__meta{
        opacity:1;
        visibility: visible;
      }
    }
  }
  &__image{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    line-height:0;
    display:block;
    object-fit:cover;
    position:absolute;
    top:0;
    left:0;
  }
  &__meta{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    @include align-center;
    background-color:rgba($white, .9);
    z-index:1;
    opacity:0;
    visibility: hidden;
    transition:all, .3s;
  }
  &__meta-inner{
    background-color:$white;
    display:block;
    width:150px;
    height:150px;
    @include align-center;
    border-radius:75px;
    overflow:visible;
    span{
      @include link-styled;
      color:$black;
      line-height:1.2;
      text-align:center;
      @include bp-minus($bp1){
        font-size:.7em;
      }
    }
  }
}

.coming-soon{
  display:block;
  width:100%;
  height:100%;
  @include align-center;
  position:absolute;
  top:0;
  left:0;
  &__inner{
    background-color:$white;
    width:50%;
    height:50%;
    top:0;
    left:0;
    @include align-center;
    text-align:center;
    border-radius:50%;
    overflow:visible;
    span{
      display:block;
      width:80%;
      @include link-styled;
      line-height:1.2;
      text-align:center;
      @include bp-minus($bp1){
        font-size:.7em;
      }
    }
  }
}

