.panel{
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;
    &__inner{
        padding:$text-padding-std*2 0;
        width:100%;
        @include bp($bp2){
            padding:$text-padding-std*5 0;
        }
    }

    &__head{
        $size:4em;
        background-color:rgba($black,.1);
        height:$size;
        margin-left:$size;
        margin-right:$size;
        @include align-left;
        width:calc(100% - #{$size} - #{$size});
        padding-left:calc(25% - #{$size});
    }
    &__foot{
        border-top:0;
        @extend .panel__head;
        background-color:rgba($black,.02);
    }
    &__title{
        color:$black;
        font-weight:$bold;
    }
    &__inside-title{
        padding-bottom:$text-padding-std *2;
        font-weight:$bold;
        @include text-title;
        width:100%;
        @include col-std(75%);
        &--inline{
            width:100%;
            @include bp($bp2){
                width:25%;
            }
        }
    }


    &-header{
        background-color:$white;
        padding-top:0;
        padding-bottom:0;
        //border-bottom:1px solid $black;
    }
    &-intro{
        color:$black;
        position:relative;
        padding-top:0;
        padding-bottom:0;
        height:auto;
        background-color:$white-darken;
        @include align-center;
        height:calc(100vh - #{$header-height});
        max-height:800px;
    }
    &-snippet{
        color:$black;
    }
    &-snippet--contact{
        background-color:$white-darken;
    }
    &-about{
        background-color:$white;
    }
    &-progress{
        color:$black;
        background-color:$white;
        .panel__title{
            //color:$white;
        }
    }
    &-grid{
        padding-top:0;
        padding-bottom:0;
        background-color:$white;
    }
    &-main{
    }
    &-work-item-head{
        //background-color:$white-darken;
    }
    &-work-item-banner{
        padding:0;
    }
    &-work-item-main{
        padding-bottom:$text-padding-std*5;
    }
    &-work-item-pagination{
        color:$black;
        background-color:$gray;
        &--bg-white{
            background-color:$white;
        }
        .panel__inner{
            @include bp($bp2){
                padding-top:$text-padding-std*5;
                padding-bottom:$text-padding-std*5;
            }
        }
    }
    &-footer{
        //border-top:$border-feint;
        padding-top:$text-padding-std*2;
        padding-bottom:$text-padding-std*2;
        background-color:$black;
        color:$white;
    }
    &--white-darken{
        background-color:$white-darken;
    }
}