.project-about{
    width:100%;
    padding-right:0;
    @include bp($bp2){
      width:calc(50% - #{$grid-space});
      padding-right:5%;
    }
    &__intro{
        @include text-leadin-large;
        padding-bottom:$text-padding-std;
    }
    &__description{
        p{
            @include text-snippet;
            padding-bottom:$text-padding-std;
        }
    }
}