.slides{
  background-color:$gray;
  width:100%;
  height:auto;
  @include align-center;
  &__inner{
    width:100%;
    height:auto;
    opacity:0;
    visibility:hidden;
    .no-js &{
      opacity:1;
      visibility:visible;
    }
    &.loaded{
      @keyframes fadein{
        from{
          opacity:0;
          visibility:hidden;
        }
        to{
          opacity:1;
          visibility:visible;
        }
      }
      animation-name: fadein;
      animation-duration:1s;
      animation-fill-mode: forwards;
    }
  }
  &__item{
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 1500px;
    &__image{
      width:100%;
      height:auto;
      margin-bottom:$text-padding-std*2;
      box-shadow:$shadow;
      border-radius:5px;
    }
    &__caption{
      @include col-std(75%);
      @include text-body;
    }
  }

}

.flickity-prev-next-button{
  background-color:transparent;
  &.previous{
    transform:translateX(-200%);
  }
  &.next{
    transform:translateX(200%);
  }
}

