.slides{
  width:100%;
  height:auto;
  margin-bottom:$text-padding-std*4;
  @include bp-minus($bp1){
    margin:$text-padding-std 0;
  }
  @include align-center;
  &__inner{
    box-shadow:$shadow;
    width:100%;
    height:auto;
    border-radius:5px;
    opacity:0;
    visibility:hidden;
    @include bp($bp1){
      width:80%;
    }
    .no-js &{
      opacity:1;
      visibility:visible;
    }
    &.loaded{
      @keyframes fadein{
        from{
          opacity:0;
          visibility:hidden;
        }
        to{
          opacity:1;
          visibility:visible;
        }
      }
      animation-name: fadein;
      animation-duration:1s;
      animation-fill-mode: forwards;
    }
  }
  &__image{
    width:100%;
    height:auto;
  }
}

.flickity-prev-next-button{
  background-color:transparent;
  &.previous{
    transform:translateX(-200%);
  }
  &.next{
    transform:translateX(200%);
  }
}

.flickity-viewport{
}