$rotatey:rotateY(15deg);
$rotatex:rotateX(10deg);
.work-item{
	&__head{
		width:100%;
		display:flex;
		justify-content: flex-start;
	}
	&__banner{
		width:100%;
		height:400px;
		@include bp($bp1){
			height:calc(90vh - #{$header-height});
		}
		&__image{
			width:100%;
			height:100%;
			object-fit:cover;
			&.left-top{
				object-position:0 0;
			}
			&.left-center{
				object-position:0 50%;
			}
			&.left-bottom{
				object-position:0 100%;
			}
			&.center-top{
				object-position:50% 0;
			}
			&.center-center{
				object-position:50% 50%;
			}
			&.center-bottom{
				object-position:50% 100%;
			}
			&.right-top{
				object-position:100% 0;
			}
			&.right-center{
				object-position:100% 50%;
			}
			&.right-bottom{
				object-position:100% 100%;
			}
		}
	}
	&__title{
		border-top:$border-feint;
		padding-top:$text-padding-std;
		padding-bottom:$text-padding-std;
		&.image{
			@include bp($bp2){
				height:10vh;
				padding:0;
				@include align-left;
			}
		}
    }
    &__title-inner{
    	@include col-std(75%);
    }
    &__title-main{
        display:inline-block;
        color:$black;
        @include text-title;
    }
    &__title-client{
        color:$color-dark-gray;
    }
	&__main{
		width:100%;
		&__image{
			border-radius:5px;
			width:100%;
			height:auto;
			max-width:1500px;
			box-shadow:$shadow;
			margin-bottom:$text-padding-std*4;
		}
		.devices{
		  width:100%;
		  height:auto;
		  margin-bottom:$text-padding-std*4;
		  display:flex;
	  	align-items:center;
	    justify-content:space-between;
	    flex-direction:row;
	    &--reverse{
	    	flex-direction:row-reverse;
	    }
		  &__item{
		    flex-shrink: 0;
			  &__tablet{
					border-radius:5px;
					width:40%;
					max-width:600px;
			  }
			  &__phone{
					border-radius:10px;
			  	width:20%;
					max-width:330px;
			  }
		  }
		  &__image{
		  	box-shadow:$shadow;
		    width:100%;
		    height:auto;
		    @include bp($bp1){
		    	margin:0;
		    }
		  }
		}
	}
	&__main-snippet{
		margin-bottom:$text-padding-std*4;
		@include col-std(75%);
		p{
			margin-bottom:$text-padding-std;
			@include bp($bp1){
				@include text-snippet;
			}
			&:last-of-type{
				margin-bottom:0;
			}
		}
	}
	&__about{
		@include col-std(75%);
	}
	&__image-inner{
		cursor:pointer;
		width:100%;
		height:0;
		padding-bottom:calc(100% + #{$grid-space});
		position:relative;
		overflow:hidden;
		img{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:auto;
			min-height:100%;
			cursor:pointer;
			object-fit:cover;
		}
	}
	&--white{
		.work-item__title{
			background-color:#f2f2f2;
		}
		.panel-work-item-head, .panel-work-item-main{
			background-color:$white;
		}
	}
	&--gray{
		.work-item__title{
			background-color:$white;
		}
		.panel-work-item-head, .panel-work-item-main{
			background-color:#f2f2f2;
		}
	}
	&--gray2{
		.work-item__title{
			background-color:$white;
		}
		.panel-work-item-head, .panel-work-item-main{
			background-color:#fafafa;
		}
	}

}